body{
    background-color: rgb(240, 240, 240);
    font-family: 'Orbitron', sans-serif;
    
   
}

.container{
    
    width: 700px;
    margin: auto;
    background-color: lightgray;
    padding-top: 50px;
    border-radius: 15px;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.12), 3px 3px 10px rgba(0,0,0,0.5);
}
#screen{
    text-align: right;
    padding-top: 45px ;
    padding-right: 10px;
    font-size: 50px;
    width: 600px;
    height: 100px;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(240, 240, 240);
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.12), 
    inset -3px -3px 10px rgba(0,0,0,0.5),  inset 3px 3px 10px rgba(0,0,0,0.5);

}
.button_zone{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    
}
.button{
    text-align: center;
    align-items: center;
    width: 120px;
    height: 70px;
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.12), 3px 3px 10px rgba(0,0,0,0.5);
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.igual{
    width: 650px;
    height: 70px;
}
.button:hover{
    cursor: pointer;
}
.button:active{
    
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.12), 
    inset -3px -3px 10px rgba(0,0,0,0.5),  inset 3px 3px 10px rgba(0,0,0,0.5);
    font-size: 45px;
    padding-top: 30px;
    padding-bottom: 20px;
    
}