*{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
@keyframes xd{
    0%{position: absolute; top: -30%; left: 0%;}
    100%{position: absolute; top: 0%; left: 0%;}
}
.wrapper{
    animation: xd 3s;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.but{
    
    color: rgb(56, 56, 56);
    width: 20%;
    margin: 5%;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 2%;
    box-shadow: 5px 5px 10px rgb(150 , 150, 150);
    border:none;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    
}
.but:hover{
    transform: scale(1.1);
    background-color: rgb(175, 175, 175);
    color: white;
}
.res{
    
    color: rgb(56, 56, 56);
    margin:5%;
    
    font-size: small;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 2%;
    box-shadow: 5px 5px 10px rgb(150 , 150, 150);    
    border:none;
    
}
.res:empty{
    pointer-events: none;
    display: none;
}